[Unit]
Description=Starts Scriptor
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/opt/scriptor/scripts/main.py
WorkingDirectory=/opt/scriptor/

[Install]
WantedBy=local-fs.target